tap "homebrew/bundle"

brew "asdf"
brew "jq"
brew "neovim"
brew "chezmoi"

{{- if ne (env "CI") "true" }}
tap "homebrew/cask-fonts"
tap "virtuslab/scala-cli"

brew "sbt"
brew "gnupg"
brew "mycli"
brew "Virtuslab/scala-cli/scala-cli"

cask "cmd-eikana"
cask "google-japanese-ime"
cask "iterm2"
cask "docker"
cask "fork"
cask "google-chrome"
cask "google-japanese-ime"
cask "istat-menus"
cask "raycast"
cask "slack"
cask "visual-studio-code"
{{- end }}
