tap "homebrew/bundle"

brew "asdf"
brew "jq"
brew "neovim"
brew "chezmoi"

tap "virtuslab/scala-cli"

brew "sbt"
brew "gnupg"
brew "mycli"
brew "Virtuslab/scala-cli/scala-cli"

cask "iterm2"
cask "docker"
cask "fork"
cask "istat-menus"
cask "raycast"
cask "slack"
cask "cursor"
