tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
brew 'jq'
brew "neovim"
brew "sbt"
brew "gnupg"
brew "Virtuslab/scala-cli/scala-cli"

cask "cmd-eikana"
cask "docker"
cask "fork"
cask "google-chrome"
cask "google-japanese-ime"
cask "intellij-idea"
cask "istat-menus"
cask "iterm2"
cask "raycast"
cask "slack"
cask "visual-studio-code"