#!/bin/bash

# Install Homebrew
{{ if eq .chezmoi.os "darwin" }}
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
brew bundle --global
{{ end }}

# Install asdf
{{ if eq .chezmoi.os "linux" }}
sudo apt install -y curl git
git clone https://github.com/asdf-vm/asdf.git ~/.asdf
{{ end }}
