{
  "claude-plugins-official": {
    "source": {
      "source": "github",
      "repo": "anthropics/claude-plugins-official"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/claude-plugins-official",
    "lastUpdated": "2026-01-31T23:57:58.075Z"
  },
  "buildwithclaude": {
    "source": {
      "source": "github",
      "repo": "davepoon/buildwithclaude"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/buildwithclaude",
    "lastUpdated": "2026-01-31T23:56:51.289Z"
  }
}