{
  "claude-plugins-official": {
    "source": {
      "source": "github",
      "repo": "anthropics/claude-plugins-official"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/claude-plugins-official",
    "lastUpdated": "2026-01-28T05:27:26.739Z"
  },
  "buildwithclaude": {
    "source": {
      "source": "github",
      "repo": "davepoon/buildwithclaude"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/buildwithclaude",
    "lastUpdated": "2026-01-18T07:22:23.296Z"
  }
}