{
  "version": 2,
  "plugins": {
    "Notion@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/Notion/0.1.0",
        "version": "0.1.0",
        "installedAt": "2025-12-21T00:05:53.196Z",
        "lastUpdated": "2025-12-21T00:05:53.196Z",
        "gitCommitSha": "a7d0b05ca3f910c71dba56d4062ba781ae092e78"
      }
    ],
    "lua-lsp@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/lua-lsp/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-01-04T10:24:36.763Z",
        "lastUpdated": "2026-01-04T10:24:36.763Z",
        "gitCommitSha": "6d3752c000e2b3d0e6137bd7adb04895d6f40f14"
      }
    ],
    "canvas@claude-canvas": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-canvas/canvas/0.1.0",
        "version": "0.1.0",
        "installedAt": "2026-01-10T01:30:37.494Z",
        "lastUpdated": "2026-01-10T01:30:37.494Z"
      }
    ]
  }
}