{
  "version": 2,
  "plugins": {
    "Notion@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/Notion/0.1.0",
        "version": "0.1.0",
        "installedAt": "2025-12-21T00:05:53.196Z",
        "lastUpdated": "2025-12-21T00:05:53.196Z",
        "gitCommitSha": "a7d0b05ca3f910c71dba56d4062ba781ae092e78"
      }
    ],
    "lua-lsp@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/lua-lsp/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-01-04T10:24:36.763Z",
        "lastUpdated": "2026-01-04T10:24:36.763Z",
        "gitCommitSha": "6d3752c000e2b3d0e6137bd7adb04895d6f40f14"
      }
    ],
    "code-simplifier@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/code-simplifier/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-01-10T01:33:16.110Z",
        "lastUpdated": "2026-01-10T01:33:16.110Z"
      }
    ],
    "agents-language-specialists@buildwithclaude": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/buildwithclaude/agents-language-specialists/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-01-12T20:50:54.687Z",
        "lastUpdated": "2026-01-12T20:50:54.687Z",
        "gitCommitSha": "61faf2ea8021236bffa76fee9551ac6161f41bad"
      }
    ],
    "agents-development-architecture@buildwithclaude": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/buildwithclaude/agents-development-architecture/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-01-12T20:50:54.687Z",
        "lastUpdated": "2026-01-12T20:50:54.687Z",
        "gitCommitSha": "61faf2ea8021236bffa76fee9551ac6161f41bad"
      }
    ],
    "agents-quality-security@buildwithclaude": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/buildwithclaude/agents-quality-security/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-01-12T20:50:54.687Z",
        "lastUpdated": "2026-01-12T20:50:54.687Z",
        "gitCommitSha": "61faf2ea8021236bffa76fee9551ac6161f41bad"
      }
    ],
    "frontend-design@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/frontend-design/e30768372b41",
        "version": "e30768372b41",
        "installedAt": "2026-01-26T08:07:00.491Z",
        "lastUpdated": "2026-01-26T08:07:00.491Z",
        "gitCommitSha": "e30768372b4150ca1bc0839d93283e8edc30d60d"
      }
    ]
  }
}