{
  "claude-plugins-official": {
    "source": {
      "source": "github",
      "repo": "anthropics/claude-plugins-official"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/claude-plugins-official",
    "lastUpdated": "2026-01-10T01:33:03.937Z"
  },
  "claude-canvas": {
    "source": {
      "source": "github",
      "repo": "dvdsgl/claude-canvas"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/claude-canvas",
    "lastUpdated": "2026-01-10T00:48:14.306Z"
  },
  "buildwithclaude": {
    "source": {
      "source": "github",
      "repo": "davepoon/buildwithclaude"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/buildwithclaude",
    "lastUpdated": "2026-01-10T00:52:40.235Z"
  }
}