{
  "version": 2,
  "plugins": {
    "Notion@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/Notion/0.1.0",
        "version": "0.1.0",
        "installedAt": "2025-12-21T00:05:53.196Z",
        "lastUpdated": "2026-02-13T08:17:40.837Z",
        "gitCommitSha": "a7d0b05ca3f910c71dba56d4062ba781ae092e78"
      }
    ],
    "lua-lsp@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/lua-lsp/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-01-04T10:24:36.763Z",
        "lastUpdated": "2026-02-13T08:17:40.837Z",
        "gitCommitSha": "6d3752c000e2b3d0e6137bd7adb04895d6f40f14"
      }
    ],
    "code-simplifier@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/code-simplifier/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-01-10T01:33:16.110Z",
        "lastUpdated": "2026-02-13T08:17:40.837Z"
      }
    ],
    "agents-language-specialists@buildwithclaude": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/buildwithclaude/agents-language-specialists/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-01-12T20:50:54.687Z",
        "lastUpdated": "2026-02-13T08:17:40.837Z",
        "gitCommitSha": "61faf2ea8021236bffa76fee9551ac6161f41bad"
      }
    ],
    "agents-development-architecture@buildwithclaude": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/buildwithclaude/agents-development-architecture/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-01-12T20:50:54.687Z",
        "lastUpdated": "2026-02-13T08:17:40.837Z",
        "gitCommitSha": "61faf2ea8021236bffa76fee9551ac6161f41bad"
      }
    ],
    "agents-quality-security@buildwithclaude": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/buildwithclaude/agents-quality-security/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-01-12T20:50:54.687Z",
        "lastUpdated": "2026-02-13T08:17:40.837Z",
        "gitCommitSha": "61faf2ea8021236bffa76fee9551ac6161f41bad"
      }
    ],
    "frontend-design@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/frontend-design/205b6e0b3036",
        "version": "205b6e0b3036",
        "installedAt": "2026-01-26T08:07:00.491Z",
        "lastUpdated": "2026-03-07T23:09:22.014Z",
        "gitCommitSha": "e30768372b4150ca1bc0839d93283e8edc30d60d"
      }
    ],
    "figma@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/figma/1.2.0",
        "version": "1.2.0",
        "installedAt": "2026-01-27T23:49:01.944Z",
        "lastUpdated": "2026-02-28T00:58:56.300Z",
        "gitCommitSha": "20aca44ee6ba6092037e943c151c067896828360"
      }
    ],
    "atlassian@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/atlassian/76c7671c4ded",
        "version": "76c7671c4ded",
        "installedAt": "2026-01-31T23:52:01.656Z",
        "lastUpdated": "2026-03-07T23:09:22.770Z",
        "gitCommitSha": "7caef65e1070f5219efa018fa0b1023738dbd56b"
      }
    ],
    "code-review@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/code-review/205b6e0b3036",
        "version": "205b6e0b3036",
        "installedAt": "2026-03-08T00:21:53.840Z",
        "lastUpdated": "2026-03-08T00:21:53.840Z",
        "gitCommitSha": "205b6e0b30366a969412d9aab7b99bea99d58db1"
      }
    ],
    "security-guidance@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/security-guidance/205b6e0b3036",
        "version": "205b6e0b3036",
        "installedAt": "2026-03-08T00:21:53.851Z",
        "lastUpdated": "2026-03-08T00:21:53.851Z",
        "gitCommitSha": "205b6e0b30366a969412d9aab7b99bea99d58db1"
      }
    ],
    "coderabbit@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/coderabbit/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-03-08T00:21:55.023Z",
        "lastUpdated": "2026-03-08T00:21:55.023Z",
        "gitCommitSha": "51651e86d8d71e150e13313f43298f212abb47db"
      }
    ],
    "superpowers@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/superpowers/4.3.1",
        "version": "4.3.1",
        "installedAt": "2026-03-08T00:22:34.728Z",
        "lastUpdated": "2026-03-08T00:22:34.728Z",
        "gitCommitSha": "e4a2375cb705ca5800f0833528ce36a3faf9017a"
      }
    ]
  }
}