name: macOS

on: push

permissions:
  contents: read

jobs:
  test:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install chezmoi
        run: |
          sh -c "$(curl -fsLS get.chezmoi.io)" -- -b ~/.local/bin
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Setup chezmoi
        run: chezmoi init --apply shomatan

      - name: Test - .zshrc
        run: cat ~/.zshrc

      - name: Test - chezmoi and mise
        run: |
          export PATH="$HOME/.local/bin:$PATH"
          zsh -c 'source ~/.zshrc && chezmoi doctor && mise doctor'
